venv/
*.pyc
/vnav_acquisition/front_app/logs/
/vnav_acquisition/front_app/*.log
/vnav_acquisition/front_app/npm-debug.log*
/vnav_acquisition/front_app/yarn-debug.log*
/vnav_acquisition/front_app/yarn-error.log*
/vnav_acquisition/front_app/pnpm-debug.log*
/vnav_acquisition/front_app/lerna-debug.log*

/vnav_acquisition/front_app/node_modules/
/vnav_acquisition/front_app/.vite/
/vnav_acquisition/front_app/*.local/

/vnav_acquisition.egg-info/*