body {
     font-family: Tahoma, sans-serif;
     font-size: 13px;
     background-color: #F8F8F8;
}
 div {
     background-color: #FFF;
}
.container {
     display: grid;
     grid-template-columns: min-content min-content min-content;
     grid-template-rows: min-content min-content min-content;
     gap: 10px 10px;
     grid-template-areas: "head head head" "name type kind" "video video video";
     background-color: #F8F8F8;
}
.content-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}
.head {
     grid-area: head;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     border-radius: 5px;
     padding: 10px;
}
.name {
     grid-area: name;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     border-radius: 5px;
     padding: 10px;
}
.type {
     grid-area: type;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     border-radius: 5px;
     padding: 10px;
}
.kind {
     grid-area: kind;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     border-radius: 5px;
     padding: 10px;
}
.video {
     grid-area: video;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     border-radius: 5px;
     padding: 10px;
}
#statusLabel {
    font-weight: bold;
    display: block;
    animation: blinker 1s infinite;
}

@keyframes blinker {
    from { opacity: 1.0; }
    50% { opacity: 0.5; }
    to { opacity: 1.0; }
}
