.formControl {
    width: 100%; /* Make the form controls take up full width */
  }
  
  .fullWidth {
    width: 100%; /* Make the text field, select, and number input take up full width */
  }
/* App.css */

.inline-fragment {
    display: grid; /* Use flexbox */
    justify-content: space-between; /* Distribute items evenly along the main axis */
  }
  
  .username,
  .material,
  .speed {
    flex: 1; /* Allow each component to grow and take up equal space */
    margin-right: 10px; /* Adjust spacing between components */
    position: relative;
  }
    